.container > div {
    border-style: solid;
    border-radius: 1em;
    padding: 20px 15px;
    margin: auto;
}
#subButton {
    min-height: 20px;
    margin: 15px;
}
#subButton button {
    box-shadow: 3px 4px #888888;
    color: rgb(46, 34, 34);
    background-color: rgb(13, 170, 60);
    font-weight: bold;
}
/* userIndex.html specific css (yeah I know it's bad form to use the same CSS for two htmls) */
#box > div div p:first-child {
    font-weight: bold;
}