<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <div class="container pt-5">
        <div id="box">
            <h1>Submitted Info</h1>
            <div>
                <div class="row">
                    <p class="col-sm-3">Name:</p>
                    <p class="col-sm-9">{{results.name}}</p>
                </div>
                <div class="row">
                    <p class="col-sm-3">Location:</p>
                    <p class="col-sm-9">{{results.location}}</p>
                </div>
                <div class="row">
                    <p class="col-sm-3">Language:</p>
                    <p class="col-sm-9">{{results.language}}</p>
                </div>
                <div class="row">
                    <p class="col-sm-12">Comments:</p>
                    <p class="col-sm-12">{{results.comment}}</p>
                </div>
            </div>

            <form action="/">
                <div id="subButton">
                    <button type="submit" class="btn btn-md float-right">Go Back</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>